/* BASIC */
@font-face {
    font-family: "texto pagina";
    src: url("../../public/fonts/503.ttf");
}

@font-face {
    font-family: "texto card title";
    src: url("../../public/fonts/501.ttf");
}

@font-face {
    font-family: "texto codigo captcha";
    src: url("../../public/fonts/502.ttf");
}


body {
    /* background: -webkit-linear-gradient(90deg, #062FD7 10%, #3aade2 90%);
    background: -moz-linear-gradient(90deg, #062FD7 10%, #3aade2 90%);
    background: -ms-linear-gradient(90deg, #062FD7 10%, #3aade2 90%);
    background: -o-linear-gradient(90deg, #062FD7 10%, #3aade2 90%);
    background: linear-gradient(90deg, #062FD7 10%, #3aade2 90%); */
    background-color: #062FD7;
    font-family: "texto pagina";
    height: 100vh;
}
  
/* STRUCTURE */

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

#formContent {
    -webkit-border-radius: 25px 25px 25px 25px;
    border-radius: 25px 25px 25px 25px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
}

.textoTitulo {
    font-family: "texto card title";
    font-size: 21px;
}

.textoCodigoCaptcha {
    font-family: "texto codigo captcha";
    font-size: 27px;
}

.codigoCaptcha {
    background-color: #0d0d0d;
    color: #fbff00;
    padding: 15px;
}

.btnValidarCaptcha {
    background-color: #0d0d0d;
    color: #fbff00;
    font-size: 20px;
}

.frmCaptcha input[type=text] {
    background-color: #fbff00;
    color: #0d0d0d;
    text-align: center;
    border: 1px solid #999999;
    font-size: 30px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.white {
    color: #fff;
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}
100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
}

@keyframes fadeInDown {
0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}
100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #0d0d0d;
}

.underlineHover:hover:after{
    width: 100%;
}

.visitas-captcha{
    width:70px;
    height:70px;
    background-color:#080808;
    margin: 5px;
    color: #fbff00;
    padding:5px;
    font-size: 11px;
    text-align: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    line-height:32px;
    text-transform: uppercase;
    float:left;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}
.visitas-captcha:hover{
    opacity: 0.7;
    -moz-opacity: .70;
    filter:alpha (opacity=70);
}







